[Desktop Entry]
Name=Europa Universalis IV
Comment=Play this game on Steam
Exec=steam steam://rungameid/236850
Icon=/home/mmunster/.local/share/icons/hicolor/96x96/apps/steam_icon_236850.png
Terminal=false
Type=Application
Categories=Game;
